<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--Container-->
    <div class="container">
        <div class="row row-content" ng-cloak="" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <!--media object-->
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img ng-src="{{dish.image}}" src="" alt="" class="media-object img-thumbnail">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger">{{dish.label}}</span>
                                <span class="badge">{{dish.price | currency}}</span>
                            </h2>
                            <p>{{dish.description}}</p>
                        </div>
                    </div>
                <!--/media object-->
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <strong>Customer Comments</strong>
                <small>Sort by:</small>
                <input type="text" ng-model="detailCtrl.typeFilter">
                <!--blockquotes-->
                <blockquote ng-repeat="comment in dish.comments | orderBy:typeFilter">
                    <p>{{comment.rating}} Stars</p>
                    <p>{{comment.comment}}</p>
                    <footer>{{comment.author}}, {{comment.date | date}}</footer>
                </blockquote>
                <!--/blockquotes-->
            </div>
            <!--ASSIGNMENT-->
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <!--Comments Live Preview-->
                <blockquote>
                    <p>{{ccomment.rating}} Stars</p>
                    <p>{{ccomment.comment}}</p>
                    <footer>{{ccomment.author}}, {{ccomment.date | date}}</footer>
                </blockquote>

                <!--Form-->
                <form action="" class="form-horizontal"
                      ng-submit="pushComment()"
                      name="commentForm"
                      id="commentForm"
                      novalidate
                    >

                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <!--Author name-->
                        <input
                                id="name" name="name" type="text"
                                placeholder="Enter your Name" class="form-control"
                                ng-model="ccomment.author"

                        >
                    </div>

                    <div class="form-group">
                        <label class=" " for="stars">Number of stars</label>

                        <label class="radio-inline">
                            <input ng-model="ccomment.rating" class="" type="radio" name="stars" id="stars" value="1"> 1
                        </label>
                        <label class="radio-inline">
                            <input ng-model="ccomment.rating" class="" type="radio" name="stars" id="stars" value="2"> 2
                        </label>
                        <label class="radio-inline">
                            <input ng-model="ccomment.rating" class="" type="radio" name="stars" id="stars" value="3"> 3
                        </label>
                        <label class="radio-inline">
                            <input ng-model="ccomment.rating" class="" type="radio" name="stars" id="stars" value="4"> 4
                        </label>
                        <label class="radio-inline">
                            <input ng-model="ccomment.rating" class="" type="radio" name="stars" id="stars" value="5" > 5
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="comment">Your Comments</label>
                        <textarea ng-model="ccomment.comment" class="form-control" name="comment" id="comment" cols="30" rows="12"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            Submit Comment
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>

</body>

</html>
